html, body {
  margin: 0;
  background: 	#282b30;
  color: #dbdee1;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  overflow-y: overlay;
  overflow-x: hidden;
}

.highlight {
  color: #403D38;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.ant-menu-submenu-inline {
  margin-left: 0px !important;
}

.ant-menu-item {
  margin: 0 !important;
  width: 100% !important;
  padding-left: 24px !important;
  background-color: #121314 !important;
  border-radius: 0 !important;
}

.ant-menu-item:hover {
  background-color: rgb(57, 57, 57) !important;
}

.ant-menu-item-selected {
  background: #121314 !important;
  border-radius: 0 !important;
  color: rgb(255, 200, 123) !important;
}

.ant-menu-item-selected:hover {
  background-color: rgb(57, 57, 57) !important;
  border-radius: 0 !important;
}

.ant-menu-submenu-title {
  padding-left: 8px !important;
}

.ant-menu-submenu {
  padding: 0 !important;
}